{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "indent": [
      "error",
      2
    ],
    "semi": ["warn", "never"],
    "quotes": ["warn", "single"],
    "jsx-quotes": ["warn", "prefer-double"],
    "object-curly-spacing": ["warn", "always"],
    "@typescript-eslint/ban-ts-ignore": "off",
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/explicit-function-return-type": "off",
    "@typescript-eslint/no-empty-interface": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "varsIgnorePattern": "^_",
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "@typescript-eslint/member-delimiter-style": [
      "warn",
      {
        "multiline": {
          "delimiter": "none"
        }
      }
    ],
    "react/prop-types": 0,
    "react/jsx-first-prop-new-line": "warn",
    "react/jsx-max-props-per-line": "warn",
    "react/jsx-wrap-multilines": [
      "warn",
      {
        "declaration": "parens-new-line",
        "assignment": "parens-new-line",
        "return": "parens-new-line",
        "arrow": "parens-new-line",
        "condition": "parens-new-line",
        "logical": "parens-new-line",
        "prop": "parens-new-line"
      }
    ],
    "react/jsx-one-expression-per-line": [
      "warn",
      {
        "allow": "literal"
      }
    ]
  },
  "overrides": [
    {
      "files": ["gatsby-config.ts"],
      "rules": {
        "@typescript-eslint/camelcase": "off"
      }
    },
    {
      "files": ["src/serviceWorker.ts"],
      "rules": {
        "@typescript-eslint/no-use-before-define": "off"
      }
    },
    {
      "files": [
        "./**/*.test.{ts,tsx}"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off",
        "no-undef": "off"
      }
    }
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  }
}
